:root {
    --var-primary: #E0740F;
    --var-primary-dark: #E0740F;
    --var-secondary: #97C60C;
    --var-dark: #313131;
    --var-light: #F4F4F4;
}

.wy-side-nav-search {
    background-color: var(--var-primary-dark);
}

.wy-nav-side {
    background-color: var(--var-dark);
}

.rst-versions .rst-current-version {
    background-color: var(--var-primary);
}

.wy-nav-content a {
    color: var(--var-primary);
}

.wy-nav-content a:hover {
    color: var(--var-secondary);
}

.wy-menu-vertical a:hover {
    background-color: var(--var-secondary);
    color: var(--var-dark);
}

.wy-menu-vertical li.toctree-l1.current>a {
    background-color: var(--var-secondary);
    border: 0;
}

.wy-menu-vertical li.current ul {
    background-color: var(--var-light);
}
